@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

pre {
  font-family: "Roboto Mono", monospace !important;
}
.border-red {
  border: 1px solid red;
}
* {
}
/* app/globals.css (add this to your existing global CSS) */

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.music-icon-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-effect {
  animation: pulse 2s ease-in-out infinite;
}
